<html>
  <head>
    <title>{{ message }}</title>
  </head>
  <body>
    <video id="videoPlayer" controls>
      <source src="http://localhost:3000/videostream/video" type="video/mp4">
    </video>
  </body>
</html>